<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="contentStoreUri" value="http://[YourCmsEndpoint]/ContentStore" />
        <add key="contentStoreXmlPath" value="[PathToYourCmsInstallationOnFileSystem]\\site\\App_Data\\xml" />
        <add key="userId" value="[YourCmsUserId]" />
    </appSettings>
</configuration>